
.container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.thumbnail {
    width: 100%;
}
.artwork {
    margin-top: 12px;
    margin-left: 10px;
    width: 100%;
    padding: 0px;
    position: relative;
}

#foto1 {
    width: 100%;
}

.playlist {
    padding: 0 25px 0 25px;

}

.song-details {
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
}

.song-information {
    text-align: center;
}

.playlist .col-md-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.now-playing {
    margin-top: 50px;
    background-color:lightgray;
    padding: 25px;
}